.width-style-for-features-section {
    width: 50% !important;
}

.under-line-style-features-header {
    position: relative;
}

.under-line-style-features-header::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 60px;
    height: 4px;
    background-color: var(--main-theme-color);
}

.icon-features-container-style {
    width: max-content !important;
    height: max-content !important;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    font-size: 30px !important;
}

@media (max-width: 992px) {
    .width-style-for-features-section {
        width: 100% !important;
    }

    .height-feature-img-style {
        height: 100% !important;
    }
}