.card-style {
    width: 23% !important;
    height: 300px !important;
    border: none !important;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .card-style {
        width: 46% !important;
    }
}

@media (max-width: 576px) {
    .card-style {
        width: 98% !important;
    }
}