.under-line-style {
    position: relative;
}

.under-line-style::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: var(--main-theme-color);
}